psycopg2-binary
djangorestframework
markdown
django-filter
Django
environ
django-environ
django-cors-headers
django_nextjs
djoser
psycopg2
google-genai
django-getenv
python-dotenv
gradio_client
gunicorn